target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# usage-without-binary-jar: https://maven.apache.org/wrapper/
.mvn/wrapper/maven-wrapper.jar

.env
.idea/
*iml
*.xcf
*.gif

/.classpath
/.project
/.idea
/.settings
/.factorypath
.classpath
.project
.settings

/transaction-logs/

